body{
    width: 85%;
    margin-left: 7.5%
}

.nav {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav ul li{
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
}

.nav ul li a{
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.profile{
    overflow: auto;
}

.profile img{
    float: left;
    border: 6px solid white;
    border-radius: 20px;
    padding: 15px;
}

.details{
    width: 30%;
    font-family: fantasy;
    font-size: 1.5em;
    padding: 5px;
    margin-left: 30%;
}

.name{
    color: brown;
}

.career{
    color: chocolate;
}
.main{
    padding: 5px;
}
table{
    margin: 7px;
}


td{
    border-bottom: 1px solid grey;
    font-size: 1.2em;
    padding: 2px;
}

.active{
    color: green;
    background-color: bisque;
}

.nav ul li a:hover{
    color: tomato;
    background-color: black;
}

.nav ul li a:active{
    color: greenyellow;
    background-color: green;
}

/* selected link */
a:active {
    color: yellow;
}